head {
  background-image: url('https://img1.etsystatic.com/038/0/6377154/il_340x270.517066187_frgc.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  style="color:darkblue; 
  text-align:center;">
  }
p {
  span class="sentence" 
  background-color: lightgreen;
  style="font-family: Arial, sans-serif; 
  font-size: large; 
  }
  p {